<div class="container principal">
			<h1 class="titreacces"> Accès au Domaine</h1>
				<div class="row acces">
					<div class="col-lg-6 ">
						<div class="maps">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2887.3729567937457!2d3.520488315005634!3d43.640408261276605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b15bbf84c5d811%3A0x932b1c1c49c84769!2sDomaine+des+Dourmettes!5e0!3m2!1sfr!2sfr!4v1557593951553!5m2!1sfr!2sfr" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
						
	                  
					
					</div>
					<div class="col-lg-6 ">
						<div class="card text-center" >
						  <div class="card-body">
						    <h5 class="card-title">Nous trouver</h5>
						    <p class="card-text"> 
						    	<ul class="list-style-position:inside listeacces">
						    		<li> Nous sommes référencé sur google Maps « Campagne des Dourmettes, 34150 Gignac »</li>
						    		<li>Les coordonnées GPS du marqueur sont : 
						    			<ul  class="list-style-position:inside"> <li>Latitude : 43.640155</li>
						    				<li>Longitude : 3.521973</li>
						    			</ul>
						    		</li>
						    		<li> Situation Geographique : à 20 minutes de Montpellier, 30 minutes Beziers</li>
						    		<li> A750 sortie n° 59 </li>
						    	</ul>

							</p>

								
						  </div>
						</div>
						
	                  
					
					</div>
				</div>
			

		</div>