<div class="container principal">
			<h1 class="titreacces"> À savoir !</h1>
				<div class="row acces">
					<div class="informations">
						<p> Sur ce site vous retrouverez toutes les informations concernant nos locations.  </p>
						<p> Vous trouverez sur chaque page de nos locations les informations qui lui sont relatives. Notamment ses disponibilités ainsi que les tarifs selon les saisons. </p>
						<p> Sur nos pages de location vous avez également la possibilité d'effectuer une demande de réservation sur une semaine. ( Si vous voulez réserver plusieurs semaines d'affilées vous pouvez faire plusieurs demandes de réservation. )</p>
						<p> Cette demande est alors mise en attente. Nous la traitons dans les plus brefs délais. Une fois la demande reçue nous vous contactons directement (via email ou téléphone) afin de régler avec vous les modalités de réservation (acompte, caution, règlement, etc...). </p>
						<p> Une fois tout en règle nous acceptons votre réservation. </p>
						<p> Une fois votre séjour terminé n'hésitez pas à aller laisser un avis sur la location que vous aviez réservée! </p>

						<h1 class="titreacces"> Préparez votre arrivée !</h1>
						<p> Vous pouvez retrouver sur le site toutes les informations utiles pour votre séjour :
							<ul>
								<li> <a href="/acces" > L'acces au domaine </a></li>
								<li> <a href="/visites" > Les visites aux alentours du domaine</a></li>
							</ul>
						</p>
						<h1 class="titreacces"> Nous contacter </h1>
						<p>Pour plus de renseignements n'hésitez pas à nous contacter ! </p>
						<ul>
							<li> Au +33 (0)4 67 57 88 03 </li>
							<li> Au +33 (0)6 72 58 22 27</li>
							<li> Par mail: domainedesdourmettes@gmail.com</li>
						</ul>
					</div>
				</div>
			
</div>