<div class="container principal">
	<div class="reservation">
		<div class="row ">
			<div class="col-lg ">
				<h1>Mes Reservations </h1>
			</div>

				</div>
				<!-- FOR EACH RESERVATION -->
				<div class="row">
					<div class=" card " id="cardreserv">
						<h5 class="card-header" > Reservation n° NUMRESA</h5>
						<div class="card-body">
							<div class="EtatResa"> Etat de la reservation : ETAT RESA </div>
							<ul>
								<li>Location : NUMLOC</li>
								<li>Nb personne : NBPERSRESA</li>
								<li>Date Arrivée : DATEARRIVEERESA</li>
								<li>Date Depart : DATEDEPARTRESA</li>

							</ul>
						</div>
					</div>
				</div>


			
			</div>
		</div>		
	</div>
</div>