/*Background*/
body{
	/*background-image:url("../img/plante.jpg");
	background-attachment:fixed;
	background-size: 100%;*/
	background-color: #F5E0C9;
}




.principal {
	margin : auto ;
	margin-top:3%;
	margin-bottom: :3%;
	padding-bottom: 3%;
	background-color : white;
	
	
}



/*Header*/

.banner{
	width: 100%
}
.navbar{
	background-color: #3F6C4A;

}

.navbar a{
	color: white;
	font-family: 'Oxygen', monospace;
	font-size: 110%
}

..nav-right{
	float: right;
}

p {
	color :black;
}
.navbar  a:hover{
	color: #500E0E;
}


.fas {
	color : white;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #fff;
}



.dropdown-menu .dropdown-item {
	color: #898989;
}

.dropdown-item a {
	color :white;
}




/*Carousel*/
.carousel{
 width:80%;
 margin:auto;
 margin-bottom: 1%;
}

#carous {
	margin-top: 1%;
	margin-bottom: 1%;
	width:100%;
}




.card{
	padding-bottom: 1%;
	margin-bottom: 2%;
}
/*FOOTER */

.page-footer {
	background-color: #3F6C4A;
	padding-top:0;
	margin-top : 3%;
}

.page-footer a ,li,p{
	color:white;
}





/* css login et signup */ 

.connexionpage {
	font-family: 'Roboto', sans-serif;
	background-size: cover;
	height: 100%
}



.main-section{

	margin: 0 auto ;
	margin-top : 11%;
	padding:0;
}

.modal-content{
	background-color: #3F6C4A;
	border-radius:3%;

}

.modal-header{
	margin-bottom:10%;
	text-align: center;
}


.user-img img{
	height : 40%;
	width: 40%;
	color: #17544C;


}

.user-img {
	margin-top: -15%;
}

.form-group{
	position : relative ;
	margin-bottom :8%;
}

.form-group input{
	height :42px ;
	border :2;
	font-size: 110%;
	letter-spacing: 1px;
	padding-left :13%;
}

.form-group i{
	position :absolute ;
	left:4%;
	padding-top:3%;
	color :#14463F;
	font-size:140%;
	

}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.form-input button{
	width:40%;
	margin :2% 0 7%;
}


.connexionpage .btn-success {

	background-color: #15A964;
	font-size:130%;
	border: 1px solid #1D7351;

}


.connexionpage .btn-success:hover{
	background-color: #1D7351;
	border: 1px solid #1D7351;
}

.forgot {
	padding :2% 0 7%;
}

.forgot a { 
	color :#80DBB7;
 }
.connexionpage h1 {
	color:white;
	font-size:130%;
	margin-bottom:5%;
}

/*Inscription css */ 


.inscriptionpage h1 {
	color:white;
	font-size:130%;
	margin-bottom:5%;
}
.inscriptionpage .btn-success {

	background-color: #15A964;
	font-size:130%;
	border: 1px solid #1D7351;

}


.inscriptionpage .btn-success:hover{
	background-color: #1D7351;
	border: 1px solid #1D7351;
}


/*MES RESERVATION */ 

.reservation h1{
	text-align: center;
	color : #17544C;

}

.EtatResa{
	font-weight: bold;



}
#cardreserv{
	width: 90%;
	margin:auto;
	margin-bottom: 3%;
}
.card-header{
	text-align: center;
}


/* LOCATION CSS */ 

.reservationlocation ,.disponibilitelocation ,.tariflocation{
	margin-bottom: 5%;
}
.formresa form{
	width:70%;
	text-align: center;
	margin:auto;
}
.titreloc{
	text-align: center;
	color : #17544C;
	padding-top: 2%;
	margin-bottom: 3%;

}


.tetetabletarif{
	background-color: #3F6C4A;
	width:100%;
	color:white;
	position:relative;
}

.my-custom-scrollbartarif {
	position: relative;
	height: 400px;
	overflow: auto;
	text-align: center;

	
	}

.table-wrapper-scroll-ytarif {
	display: block;
	padding-bottom:5%;
}


.boutonresa{
	margin-left:30%;
	margin-top: 5%;
}


.pickerweek { 
	padding-bottom-bottom: 2%; 
}

.listscroll ul{
	height:50%;
	width:100%;
	margin:auto;
	height: 150px;
}
.listscroll ul{
	overflow:hidden; 
	overflow-y:scroll;

}


.tablesaison table{
	width:100%;
	margin-right: 0;
	margin-left:0;

}
/*AVIS CSS*/ 


.product-comments ul{
	list-style-type: none; 
	margin:auto;
	padding-left: 0;
}

.product-comments .card{
	width:90%;
	margin-left: 3%;
	/*border:0;*/
}
.product-comments .card h1{
	font-weight: bold;
	color : #17544C;
	font-size: 150%
}

.product-comments .card-body {
	padding-right: 2%;
	padding-top:2%;
	padding-bottom: 2%;
	padding-left: 5%;
}

.product-comments .card-body h3{
	color : #17544C;
	font-size: 150%;
	text-align : center;
}

.product-comments .card h2{
	color : #545454;
	font-size: 150%
}

.product-comments .card h3{
	color : #545454;
	font-size: 90%;
	float:right;
	font-style: italic;
	margin-bottom: 0;
}
.product-comments .card p{
	color : #404040;
	font-size: 100%;
}

.product-comments .card .corpavis{
	margin-left: 10%

}


.listscrollavis {
	height:50%;
	width:100%;
	margin:auto;
	height: 400px;
}
.listscrollavis {
	overflow:hidden; 
	overflow-y:scroll;

}

.boutonavis{
	text-align: center;
	margin-top: 2%;
}


/*CSS  D'UN CLIENT NON CONNECTER SUR PAGE LOCATION */

.notconnect h5 {
	margin-top: 5%;
	text-align: center;
	color: #14A544;
}

.notconnect .boutonresa {
	margin-top: 1%;
	text-align: center;
	margin-left: 38%;
}






/*PAGE ACCES CSS /*/

.titreacces{
	text-align: center;
	color : #17544C;
	padding-top: 2%;
	margin-bottom: 3%;

}
.acces .card{
	border:0;
}

.acces li{
	text-align: left;
}

.maps{
	padding-left: 10%;
}

.fin{
	padding-bottom: 10%;
}

.titlenotadmin{
	text-align: center;
	color : #17544C;
	padding-top: 2%;
	margin-bottom: 3%;

}

/*PAGE ACCES CSS /*/

.titrevisites{
	text-align: center;
	color : #17544C;
	padding-top: 2%;
	margin-bottom: 3%;

}

.visites img{
	width:105%;
	margin:auto;
	margin-top: 2%;
	margin-left: 4%;
	margin-right: 6%;
	border-radius: 20px;

}

.visites a{
	color : #17544C;
}

.visites .card-title {
	color : #17544C;
	font-size: 150%;
}

/*ADMIN CSS */ 


.tetetable{
	background-color: #3F6C4A;
	width:100%;
	color:white;
	position:relative;
}


.my-custom-scrollbar {
	position: relative;
	padding-top: 3%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
	height: 500px;
	overflow: auto;
	text-align: center;
	
	}
	
.table-wrapper-scroll-y {
	display: block;
	padding-bottom:5%;
}

.admin h1{
	text-align: center;
	color : #17544C;

}
/*--------------etat des reservation------*/
.attente h2{
	padding-left: 5%;
	color : #F09D34;
}

.attente .tetetable{ 
	background-color: #F09D34;
	
}

.valide h2{
	padding-left: 5%;
	padding-top: 2%;
	color : #49BD37;
}

.valide .tetetable{ 
	background-color: #49BD37;
	
}

.refuse h2{
	padding-left: 5%;
	padding-top: 2%;
	color : #C82D2D;
}

.refuse .tetetable{ 
	background-color: #C82D2D;	
}

.ajouterresa{
	text-align: right;
	margin:auto;
	
}

/*------fin etat -----*/ 

.ajouter{
	text-align: center;
	margin:auto;
	margin-top: 5%
}
.ajouter .btn-success{
	font-size:130%;
	text-align: center;
	margin:auto;
	margin-top: 5%
	
}


/*AJOUT SEMAINE*/

.ajoutSemaine{
	text-align: center;
	
	margin:auto;
	padding-right: 10%;
	margin-top: 5%
}

.ajoutSemaine .card{
	width:180%;
	text-align:center;
}

.ajoutSemaine form{
	width:80%;
	margin:auto;
}


.ajoutSemaine .card-header{
	background-color: #3F6C4A;
	color:white;
}

/*PAGE ERROR*/ 

.errorhandle h1{
	font-size: 350%;
	text-align: center;
	color : #AA0F0F;

}

.errorhandle h2{
	text-align: center;
	color : #AA0F0F;

}

.errorhandleimage {
	height: 300px;
	background-repeat: no-repeat;
	margin-left:28%;
	background-image: url(https://img.linuxfr.org/img/68747470733a2f2f6d656469612e67697068792e636f6d2f6d656469612f737256675870717a35516454472f67697068792e676966/giphy.gif);
}



.logofooter {
	text-align: center;
	margin:auto;
	margin-bottom: 0;
}

.logofooter img{
	margin-top: 2%;
	width: 70%;
	margin-bottom: 0;

}
.col-md-3 .mx-auto .logofooter{
	margin-top: 0;
}
.containerfooter{
	padding-left: 0;
	padding-right: 0;
	margin-left:0;
	margin-right:0;

}



p,li,a {
	color :black;
}

