.banner{
	width: 100%
}

/*Header*/
.navbar{
	background-color: #3F6C4A;

}

.navbar a{
	color: white;
	font-family: 'Oxygen', monospace;
	font-size: 110%
}

..nav-right{
	float: right;
}

p {
	color :black;
}
.navbar  a:hover{
	color: #500E0E;
}


.fas {
	color : white;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #fff;
}



.dropdown-menu .dropdown-item {
	color: #898989;
}

.dropdown-item a {
	color :white;
}

/*Background*/
body{
	/*background-image:url("../img/plante.jpg");
	background-attachment:fixed;
	background-size: 100%;*/
	background-color: #F5E0C9;
}
.table {
	width:50%;
}



.principal {
	margin : auto ;
	margin-top:3%;
	margin-bottom: :3%;
	padding-bottom: 3%;
	background-color : white;
	
	
}




/*Carousel*/
.carousel{
 width:100%;
 margin:auto;
}

#carous {
	margin-top: 1%;
	margin-bottom: 1%;
}

.card{
	padding-bottom: 1%;
	margin-bottom: 2%;
}
/*FOOTER */

.page-footer {
	background-color: #3F6C4A;
	padding-top:0;
	margin-top : 3%;
}

.page-footer a ,li,p{
	color:white;
}





/* css login et signup */ 

.connexionpage {
	font-family: 'Roboto', sans-serif;
	background-size: cover;
	height: 100%
}



.main-section{

	margin: 0 auto ;
	margin-top : 11%;
	padding:0;
}

.modal-content{
	background-color: #3F6C4A;
	border-radius:3%;

}

.modal-header{
	margin-bottom:10%;
	text-align: center;
}


.user-img img{
	height : 40%;
	width: 40%;
	color: #17544C;


}

.user-img {
	margin-top: -15%;
}

.form-group{
	position : relative ;
	margin-bottom :8%;
}

.form-group input{
	height :42px ;
	border :0;
	font-size: 110%;
	letter-spacing: 1px;
	padding-left :13%;
}

.form-group i{
	position :absolute ;
	left:4%;
	padding-top:3%;
	color :#14463F;
	font-size:140%;
	

}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.form-input button{
	width:40%;
	margin :2% 0 7%;
}


.connexionpage .btn-success {

	background-color: #15A964;
	font-size:130%;
	border: 1px solid #1D7351;

}


.connexionpage .btn-success:hover{
	background-color: #1D7351;
	border: 1px solid #1D7351;
}

.forgot {
	padding :2% 0 7%;
}

.forgot a { 
	color :#80DBB7;
 }
.connexionpage h1 {
	color:white;
	font-size:130%;
	margin-bottom:5%;
}

/*Inscription css */ 


.inscriptionpage h1 {
	color:white;
	font-size:130%;
	margin-bottom:5%;
}
.inscriptionpage .btn-success {

	background-color: #15A964;
	font-size:130%;
	border: 1px solid #1D7351;

}


.inscriptionpage .btn-success:hover{
	background-color: #1D7351;
	border: 1px solid #1D7351;
}


/*MES RESERVATION */ 

.reservation h1{
	text-align: center;
	color : #17544C;

}

.EtatResa{
	font-weight: bold;
}
#cardreserv{
	width: 90%;
	margin:auto;
	margin-bottom: 3%;
}
.card-header{
	text-align: center;
}


/* LOCATION CSS */ 

.reservationlocation ,.disponibilitelocation ,.tariflocation{
	margin-bottom: 5%;
}

.titreloc{
	text-align: center;
	color : #17544C;
	padding-top: 2%;
	margin-bottom: 3%;

}

.titreacces{
	text-align: center;
	color : #17544C;
	padding-top: 2%;
	margin-bottom: 3%;

}


.boutonresa{
	margin-left:30%;
	margin-top: 5%;
}

.pickerweek { 
	margin-bottom: 2%; 
}

.listscroll ul{
	height:50%;
	width:50%;
	margin:auto;
}
.listscroll ul{
	overflow:hidden; 
	overflow-y:scroll;
}


.tablesaison{
	width:90%;
	margin-right: 0;
	margin-left:0;

}







/*PAGE ACCES CSS /*/

.acces .card{
	border:0;
}

.acces li{
	text-align: left;
}

.maps{
	padding-left: 10%;
}

.fin{
	padding-bottom: 10%;
}

.titlenotadmin{
	text-align: center;
	color : #17544C;
	padding-top: 2%;
	margin-bottom: 3%;

}


p,li,a {
	color :black;
}