<!-- Footer -->
		<footer class="page-footer font-small stylish-color-dark ">

		  <div class="container containerfooter text-center text-md-left">

		    <div class="row">

		      <div class="col-md-3 mx-auto logofooter">

		        <img src="../img/logo.png" alt="Logo dourmettes">

		      </div>

		      <hr class="clearfix w-100 d-md-none">

		      <div class="col-md-2 mx-auto">

		        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Nos Gîtes</h5>

		        <ul class="list-unstyled">
		          <li>
		            <a href="/location/2">Gîte Emeraude</a>
		          </li>
		          <li>
		            <a href="/location/1">Gîte Rubis</a>
		          </li>
		        </ul>

		      </div>
		      <div class="col-md-3 mx-auto">

		        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Nos Mobil-Home</h5>

		        <ul class="list-unstyled">
		          <li>
		            <a href="/location/3">M-Home 6 places 419</a>
		          </li>
		          <li>
		            <a href="/location/4">M-Home 6 places 422</a>
		          </li>
		          <li>
		            <a href="/location/5">M-Home 7 places</a>
		          </li>
		          <li>
		            <a href="/location/6">M-Home 8 places</a>
		          </li>
		        </ul>

		      </div>
		   

		      <hr class="clearfix w-100 d-md-none">

		   
		      <div class="col-md-2 mx-auto">

		       
		        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Nous contacter</h5>

		        <ul class="list-unstyled">
		          <li>+33 (0)4 67 57 88 03
		          </li>
		          <li>+33 (0)6 72 58 22 27
		          </li>
		          <li> domainedesdourmettes@gmail.com
		          </li>
		          
		        </ul>

		      </div>

		      <hr class="clearfix w-100 d-md-none">

		      <div class="col-md-2 mx-auto">

		        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Suivez Nous ! </h5>

		        <ul class="list-unstyled text-right" >
				    <li > <a  href="https://www.facebook.com/pg/Dourmetteslocationvacances/posts/" target="_blank"> <i class="fab fa-facebook fa-3x"> </i>  </a>
				    </li>
				    <li > <a  href="https://www.instagram.com/dourmettes/" target="_blank"> <i class="fab fa-instagram fa-3x"> </i> </a>
				    </li>
				  </ul>

		      </div>
		   

		    </div>
		   

		  </div>
	

		</footer>
		<!-- Footer -->