{{!-- <div class="modal-dialog text-center">
    <div class="col-sm-9 main-section">
      <div class="modal-content">
        
        <div class="modal-header">
          <h2 class="modal-title">Modifier la reservationn° {{reservation.NumResa}}</h2>
        </div>

        <div class="col-12 form-input">
          <form action ="/admin/modifResa/{{reservation.NumResa}}" method="POST"> 

            <div class="form-group">
              <input type="date" class="form-control"  value="{{reservation.DateArriveeResa}}" name="DateArriveeResa" >
            </div>

            <div class="form-group">
              <input type="date" class="form-control"  value="{{reservation.DateDepartResa}}"  name="DateDepartResa" >
            </div>

        

            <button type="Submit" class="btn btn-success"> Modifier </button>
          </form>
        </div>
      
    </div>
    </div>
  </div> --}}